html {
 	background-image: url("images/lens.jpeg");
    background-repeat: repeat;
    background-size: 50px;
    border: 5px solid;
    padding: 10px;
    box-shadow: 5px 10px #FFFF81;
}body {
	color:#FFFFFF;
	margin: 15px 15px 15px 15px;
	text-align: center;
    border: 5px solid;
    padding: 10px;
    box-shadow: 5px 10px #FFFF81;
    background-color: #cda270;
    font-family: Georgia;
   
    
}

div.nav {
	float: center;
	padding: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 500px;
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    background-color: 	#D3D3D3;
    color: white;
    text-align: center; 
    border-style: groove;
    
}

div.welcome {
	border: 5px dashed;
    box-shadow: 5px 10px #FFFFFF;
    background-color: #D3D3D3;
    text-decoration: underline overline;
    color:#000000;
    


}


ul.things {
	padding-left: 10px;
	border: 5px dashed;
    padding: 10px;
    box-shadow: 5px 10px #FFFF81;
    background-color:#D3D3D3;
    text-align: center;
    font-size:larger;
}

ul.things li {
	list-style-type: none;
	border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px;
    text-align: center;
}

ul.things li.new {
	margin-top: 20px;
	margin-bottom: 20px;border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px;
    text-align: center;
}

span.author {
	font-size: smaller;
	font-style: italic;
}

div.thingcontainer {
	background-color: #C0C0C0;
	padding: 10px 10px 10px 10px;
	border-radius: 8px;
}
div.search { 
	border: 5px solid;
    padding: 10px;
    box-shadow: 5px 10px #FFFF81;
    background-color:#006699;

}
p.thingtitle {
	font-size: larger;
	font-weight: bold;
	margin-bottom: 0px;
}

p.thingtagline {
	margin-top: 0;
	font-size: smaller;
	font-style: italic;
}

p.thingdescription {
	background-color: #D5D5D5;
	padding: 10px 10px 10px 10px;
	border-radius: 8px;
	margin-bottom: 5px;
}

p.thingattachment {
	font-size: smaller;
	font-style: italic;
	text-align: right;
	margin: 0 0 0 0;
}

div.breadcrumbs {
	font-size: smaller;
	margin-bottom: 3px;
}

ul.comments {
	padding-left: 10px;
	list-style-type: none;
	border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px;
}

ul.comments li {
	background: url('images/speechbubble_sm2.png') no-repeat left top;
	height: auto;
	padding-left: 60px;
	padding-top: 3px;
	margin-bottom: 15px;
	min-height: 50px;
}

div form input[type="text"], div form input[type="password"], div form textarea {
	margin-top: 10px;
}

input[type="submit"] {
	margin-top: 10px;
	margin-bottom: 20px;
}

p.footer {
	margin-top: 50px;
}

@media only screen and (min-width: 800px) {
	div.search {
		float: right;
	}
}

p.commentattachment {
	font-size: smaller;
	font-style: italic;
	margin-top: 0;
	margin-bottom: 0;
}

div.error {
	display: inline-block;
	background-color: #ffcccc;
	border-radius: 6px;
	padding: 5px 5px 5px 5px;
	width: auto;
	font-size: smaller;
}

div.message {
	display: inline-block;
	background-color: #ccffcc;
	border-radius: 6px;
	padding: 5px 5px 5px 5px;
	width: auto;
}

div.newattachmenttype {
	background-color: #ccffcc;
}
